<div class="container-fluid">
    <div class="container text-white">
        <h1>Actualizar el alumno {{alumno.nombre}}</h1>
    </div>

</div>
<div class="container">
    <form>
    <div class="row">
        <div class="col-md-6">
                <div class="form-group">
                    <label for="">Legajo</label>
                    <input type="text"name="legajo" [(ngModel)]="alumno.legajo" placeholder="{{alumno.legajo}}" id="legajo" class="form-control" >
                 </div>
        </div>
        <div class="col-md-6">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text"name="nombre" [(ngModel)]="alumno.nombre" placeholder="{{alumno.nombre}}" id="aombre" class="form-control" >
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
                <div class="form-group">
                    <label for="">Apellido</label> 
                    <input type="text"name="apellido" [(ngModel)]="alumno.apellido" placeholder="{{alumno.apellido}}" id="apellido" class="form-control" >
                </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Id</label> 
                <input type="text"name="id" disabled="true" [(ngModel)]="alumno.id" placeholder="{{alumno.id}}" id="id" class="form-control" >
            </div>
        </div>
    </div>
    <button class="btn btn-primary" (click)="actualizarAlumno()">Enviar</button>   
</form>
</div>


